EXPO_PUBLIC_SUPABASE_URL=https://nbnhamdmueevlothhtwp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ibmhhbWRtdWVldmxvdGhodHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MDQ4NjksImV4cCI6MjA5NjQ4MDg2OX0.dtffsTuyesO0agMkDk44J-t68gZdiYFIcaNlFHIEI9U
